making model for new applicants and old applicants

In [1]:
import pandas as pd
import numpy as np

In [2]:
new_app = pd.read_csv('D:/machine learning/HCD/psep/new_applicants.csv')

In [3]:
old_app = pd.read_csv('D:/machine learning/HCD/psep/old_applicants.csv')

In [33]:
old_app.columns

Index(['Unnamed: 0', 'SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE',
       'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=123)

In [4]:
pd.set_option('display.max_columns' , None)

In [12]:
new_applicants = new_app.groupby('TARGET')
new_applicants0 = new_applicants.get_group(0)
new_applicants1 = new_applicants.get_group(1)

In [13]:
old_applicants = old_app.groupby('TARGET')
old_applicants0 = old_applicants.get_group(0)
old_applicants1 = old_applicants.get_group(1)

In [16]:
old_applicants0.head()

,Unnamed: 0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
1,1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.796,0.0605,0.08,0.0345,0.2917,0.3333,0.013,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.804,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,454500.0,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,0.035792,-16941,-1588,-4970.0,-477,NaN,1,1,1,1,1,0,Laborers,2.0,2,2,WEDNESDAY,16,0,0,0,0,0,0,Other,NaN,0.354225,0.621226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2536.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0

Average income of new and old applicants who are having target = 1 is same i.e 135000
Average income of old applicants who are having target = 0 is 144000 and new applicant target = 0 is 157500

In [19]:
new_applicants1.AMT_INCOME_TOTAL.median()

135000.0

In [20]:
old_applicants1.AMT_INCOME_TOTAL.median()

135000.0

In [21]:
new_applicants0.AMT_INCOME_TOTAL.median()

157500.0

In [22]:
old_applicants0.AMT_INCOME_TOTAL.median()

144000.0

Credit amount for new applicants is correspondingly high when compared with old applicants

In [23]:
old_applicants0.AMT_CREDIT.median()

509602.5

In [24]:
old_applicants1.AMT_CREDIT.median()

495216.0

In [25]:
new_applicants0.AMT_CREDIT.median()

607500.0

In [26]:
new_applicants1.AMT_CREDIT.median()

534672.0

New applicants are facing difficulties

In [28]:
(new_applicants1.FLAG_OWN_CAR.value_counts()/new_applicants1.FLAG_OWN_CAR.count())*100

N    72.55102
Y    27.44898
Name: FLAG_OWN_CAR, dtype: float64

In [29]:
(old_applicants1.FLAG_OWN_CAR.value_counts()/old_applicants1.FLAG_OWN_CAR.count())*100

N    69.356259
Y    30.643741
Name: FLAG_OWN_CAR, dtype: float64

In [30]:
(new_applicants0.FLAG_OWN_CAR.value_counts()/new_applicants0.FLAG_OWN_CAR.count())*100

N    62.40791
Y    37.59209
Name: FLAG_OWN_CAR, dtype: float64

In [31]:
(old_applicants0.FLAG_OWN_CAR.value_counts()/old_applicants0.FLAG_OWN_CAR.count())*100

N    65.872042
Y    34.127958
Name: FLAG_OWN_CAR, dtype: float64

For own house there is no much difference in repayment

In [32]:
(old_applicants0.FLAG_OWN_REALTY.value_counts()/old_applicants0.FLAG_OWN_REALTY.count())*100

Y    70.811191
N    29.188809
Name: FLAG_OWN_REALTY, dtype: float64

In [33]:
(old_applicants1.FLAG_OWN_REALTY.value_counts()/old_applicants1.FLAG_OWN_REALTY.count())*100

Y    69.263997
N    30.736003
Name: FLAG_OWN_REALTY, dtype: float64

In [34]:
(new_applicants0.FLAG_OWN_REALTY.value_counts()/new_applicants0.FLAG_OWN_REALTY.count())*100

N    54.032571
Y    45.967429
Name: FLAG_OWN_REALTY, dtype: float64

In [35]:
(new_applicants1.FLAG_OWN_REALTY.value_counts()/new_applicants1.FLAG_OWN_REALTY.count())*100

N    52.346939
Y    47.653061
Name: FLAG_OWN_REALTY, dtype: float64

There is no difference for new and old applicants

In [45]:
(new_applicants1.NAME_TYPE_SUITE.value_counts()/new_applicants1.NAME_TYPE_SUITE.count())*100

Unaccompanied      83.664921
Family             10.366492
Spouse, partner     3.246073
Children            1.361257
Other_B             0.837696
Other_A             0.418848
Group of people     0.104712
Name: NAME_TYPE_SUITE, dtype: float64

In [46]:
(new_applicants0.NAME_TYPE_SUITE.value_counts()/new_applicants0.NAME_TYPE_SUITE.count())*100

Unaccompanied      80.712285
Family             12.324930
Spouse, partner     4.588502
Children            1.147126
Other_B             0.780312
Other_A             0.380152
Group of people     0.066693
Name: NAME_TYPE_SUITE, dtype: float64

In [47]:
(old_applicants1.NAME_TYPE_SUITE.value_counts()/old_applicants1.NAME_TYPE_SUITE.count())*100

Unaccompanied      82.092437
Family             12.226891
Spouse, partner     3.630252
Children            0.957983
Other_B             0.697479
Other_A             0.302521
Group of people     0.092437
Name: NAME_TYPE_SUITE, dtype: float64

In [48]:
(old_applicants0.NAME_TYPE_SUITE.value_counts()/old_applicants0.NAME_TYPE_SUITE.count())*100

Unaccompanied      81.092431
Family             13.244268
Spouse, partner     3.672834
Children            1.071040
Other_B             0.555034
Other_A             0.275078
Group of people     0.089316
Name: NAME_TYPE_SUITE, dtype: float64

In income type there is no businessman in old applicants.Here the rejection of old and new applicants is same

In [11]:
old_app['NAME_INCOME_TYPE'].unique()

array(['Working', 'State servant', 'Commercial associate', 'Pensioner',
       'Unemployed', 'Student', 'Maternity leave'], dtype=object)

In [64]:
(old_applicants0.NAME_INCOME_TYPE.value_counts()/old_applicants0.NAME_INCOME_TYPE.count())*100

Working                 51.459141
Commercial associate    22.634837
Pensioner               18.617053
State servant            7.281484
Student                  0.004491
Unemployed               0.002994
Name: NAME_INCOME_TYPE, dtype: float64

In [65]:
(old_applicants1.NAME_INCOME_TYPE.value_counts()/old_applicants1.NAME_INCOME_TYPE.count())*100

Working                 61.836863
Commercial associate    21.186832
Pensioner               11.893479
State servant            5.040889
Unemployed               0.033550
Maternity leave          0.008388
Name: NAME_INCOME_TYPE, dtype: float64

In [66]:
(new_applicants0.NAME_INCOME_TYPE.value_counts()/new_applicants0.NAME_INCOME_TYPE.count())*100

Working                 39.065529
Commercial associate    37.314204
Pensioner               17.015639
State servant            6.443066
Businessman              0.064625
Student                  0.038775
Unemployed               0.038775
Maternity leave          0.019387
Name: NAME_INCOME_TYPE, dtype: float64

In [67]:
(new_applicants1.NAME_INCOME_TYPE.value_counts()/new_applicants1.NAME_INCOME_TYPE.count())*100

Working                 48.877551
Commercial associate    31.428571
Pensioner               14.897959
State servant            4.795918
Name: NAME_INCOME_TYPE, dtype: float64

Old applicants are facing difficulties

In [16]:
print('',(new_applicants0.NAME_EDUCATION_TYPE.value_counts()/new_applicants0.NAME_EDUCATION_TYPE.count())*100)

print('',(new_applicants1.NAME_EDUCATION_TYPE.value_counts()/new_applicants1.NAME_EDUCATION_TYPE.count())*100)

 Secondary / secondary special    53.347551
Higher education                 42.522942
Incomplete higher                 3.263539
Lower secondary                   0.794882
Academic degree                   0.071087
Name: NAME_EDUCATION_TYPE, dtype: float64
 Secondary / secondary special    67.857143
Higher education                 27.244898
Incomplete higher                 3.571429
Lower secondary                   1.326531
Name: NAME_EDUCATION_TYPE, dtype: float64

In [22]:
print('',(old_applicants1.NAME_EDUCATION_TYPE.value_counts()/old_applicants1.NAME_EDUCATION_TYPE.count())*100)

print('',(old_applicants0.NAME_EDUCATION_TYPE.value_counts()/old_applicants0.NAME_EDUCATION_TYPE.count())*100)

 Secondary / secondary special    79.089956
Higher education                 15.693017
Incomplete higher                 3.510170
Lower secondary                   1.694276
Academic degree                   0.012581
Name: NAME_EDUCATION_TYPE, dtype: float64
 Secondary / secondary special    71.333623
Higher education                 24.053560
Incomplete higher                 3.330689
Lower secondary                   1.225993
Academic degree                   0.056135
Name: NAME_EDUCATION_TYPE, dtype: float64

There is slight differnce for new and old applicants

In [24]:
print('',(new_applicants0.NAME_FAMILY_STATUS.value_counts()/new_applicants0.NAME_FAMILY_STATUS.count())*100)

print('',(new_applicants1.NAME_FAMILY_STATUS.value_counts()/new_applicants1.NAME_FAMILY_STATUS.count())*100)

 Married                 61.949076
Single / not married    19.529533
Civil marriage           8.543363
Separated                5.945457
Widow                    4.019646
Unknown                  0.012925
Name: NAME_FAMILY_STATUS, dtype: float64
 Married                 55.510204
Single / not married    20.612245
Civil marriage          11.632653
Separated                7.551020
Widow                    4.693878
Name: NAME_FAMILY_STATUS, dtype: float64

In [26]:
print('',(old_applicants0.NAME_FAMILY_STATUS.value_counts()/old_applicants0.NAME_FAMILY_STATUS.count())*100)

print('',(old_applicants1.NAME_FAMILY_STATUS.value_counts()/old_applicants1.NAME_FAMILY_STATUS.count())*100)

 Married                 64.366870
Single / not married    14.207820
Civil marriage           9.539991
Separated                6.448064
Widow                    5.437256
Name: NAME_FAMILY_STATUS, dtype: float64
 Married                 59.995806
Single / not married    17.844412
Civil marriage          11.939610
Separated                6.483540
Widow                    3.736632
Name: NAME_FAMILY_STATUS, dtype: float64

There is no difference between old and new applicants

In [27]:
print('',(new_applicants0.NAME_HOUSING_TYPE.value_counts()/new_applicants0.NAME_HOUSING_TYPE.count())*100)

print('',(new_applicants1.NAME_HOUSING_TYPE.value_counts()/new_applicants1.NAME_HOUSING_TYPE.count())*100)

 House / apartment      90.144759
With parents            4.614192
Municipal apartment     2.546207
Rented apartment        1.486364
Office apartment        0.846581
Co-op apartment         0.361897
Name: NAME_HOUSING_TYPE, dtype: float64
 House / apartment      87.755102
With parents            6.734694
Municipal apartment     2.755102
Rented apartment        2.040816
Office apartment        0.408163
Co-op apartment         0.306122
Name: NAME_HOUSING_TYPE, dtype: float64

In [28]:
print('',(old_applicants0.NAME_HOUSING_TYPE.value_counts()/old_applicants0.NAME_HOUSING_TYPE.count())*100)

print('',(old_applicants1.NAME_HOUSING_TYPE.value_counts()/old_applicants1.NAME_HOUSING_TYPE.count())*100)

 House / apartment      88.935751
With parents            4.636768
Municipal apartment     3.680224
Rented apartment        1.515650
Office apartment        0.865979
Co-op apartment         0.365627
Name: NAME_HOUSING_TYPE, dtype: float64
 House / apartment      85.602852
With parents            7.003565
Municipal apartment     3.891801
Rented apartment        2.436570
Office apartment        0.704550
Co-op apartment         0.360663
Name: NAME_HOUSING_TYPE, dtype: float64